* {
    border: none;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
    color: antiquewhite;
    
}
html {
    height: 100%;
}

/* Custom fonts*/
@font-face {
    font-family: roboto;
    src: url(/src/fonts/RobotoMono-VariableFont_wght.ttf);
}
@font-face {
    font-family: pullapojatFont;
    src: url(/src/fonts/BeauRivage-Regular.ttf);
}


body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 0.6fr 4fr 0.5fr;
    background-image: url(/pictures/wallpaperflare.com_wallpaper.jpg);
    
}

/* === Main*/
#content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}


/* All tabs*/
.tab {
    display: none;
    justify-content: center;
    flex: 3 1 auto;
    max-width: 40%;
    
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 0.7em;
    padding: 1rem;
    
    border-radius: 1rem;  
    border: thick solid antiquewhite;

}


/* Header */
header {
    background-color: rgba(0, 0, 0, 0.9 );
    justify-content: center;
    align-items: flex-end;
    grid-template-columns: 1fr;
    border-bottom: solid white;

}
button {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: solid rgba(0, 0, 0, 0);


    font-size: 2em;

    transition: all 0.5s;
    
}
button:hover {
    position: relative;
    bottom: 0.5rem;
    
    border-bottom: solid white;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5em;

    background-color: rgba(0, 0, 0, 0.9 );
    border-top: solid white;
}


/* Home tab styling*/
#Home  h1 {
    font-family: pullapojatFont;
    font-size: 3.5em;
}
.restaurantDescription {
    padding-top: 1em;
    border-top: thick solid antiquewhite;
}


/* Github link img styling*/
footer img {
    height: 2em;
    opacity: 75%;
}
footer img:hover {
    opacity: 100%;
}


