* {
    border: none;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: antiquewhite;
    text-align: center;
}
html {
    height: 100%;
}
body {
    background-image: url("/pictures/cinnamon.jpg");
    background-size: 30%;
    min-height: 100%;

    display: grid;
    grid-template-rows: 1fr 4fr 0.5fr;
    
}
#content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

/* All tabs*/
.tab {
    display: none;
    justify-content: center;
    flex: 3 1 auto;
}

img {
    height: 7rem;
}

/* Header */
header {
    background-color: rgba(0, 0, 0, 0.9);  
    justify-content: center;
    align-items: flex-end;
    grid-template-columns: 1fr;
    border-bottom: thick solid burlywood;

}
button {
    background-color: rgba(0, 0, 0, 0);
    font-size: 3rem;
    
}
button:hover {
    position: relative;
    bottom: 0.5rem;
    transition: bottom 1s;
}

/* Footer */
footer {
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 2rem;
    border-top: thick solid burlywood;

}





